.footer {
  background: #040b2c;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;

  padding-left: 3.5rem;
  padding-right: 3.5rem;

  /* Outer content grid */
  & .outer-grid {
    /* spacer, project description, spacer, link columns, spacer */
    grid-template-columns: 3fr 3fr 4fr;
    align-items: center;
    margin-bottom: 0rem;

    & li {
      list-style: none;
    }
  }

  @media (max-width: 640px) {
    & .outer-grid {
      grid-template-columns: 1fr;
      justify-items: start;
    }
  }

  /* Heading colours */
  & a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }

  & h1 {
    font-size: 1.25rem;
    font-weight: bold;
  }
}

/* Summary Style */
.listing-summary-cell-left p {
  width: 8em;
  font-size: small;
}
h2:has(.listing-summary-title) {
  margin-top: 0;
  color: #600;
}
.listing-summary-cell-right img {
  filter: drop-shadow(4px 4px 5px gray);
}

/* Grid Style */
.listing-grid-thumbnail {
  float: left;
  padding-right: 2em;
}
.listing-grid-thumbnail img {
  filter: drop-shadow(2px 2px 3px gray);
}

.grid-areas-just-narrow {
    padding-top: 0.5cm;
    padding-bottom: 0;
}

.flex-row {
  flex-wrap: wrap;
}
/* Light Theme Colors 
.light-artemis-background-default { background-color: #FFFFFF; }
.light-artemis-text-default { color: #373530; }

.light-artemis-background-gray { background-color: #F1F1EF; }
.light-artemis-text-gray { color: #787774; }

.light-artemis-background-brown { background-color: #F3EEEE; }
.light-artemis-text-brown { color: #976D57; }

.light-artemis-background-orange { background-color: #F8ECDF; }
.light-artemis-text-orange { color: #CC782F; }

.light-artemis-background-yellow { background-color: #FAF3DD; }
.light-artemis-text-yellow { color: #C29343; }

.light-artemis-background-green { background-color: #EEF3ED; }
.light-artemis-text-green { color: #548164; }

.light-artemis-background-blue { background-color: #E9F3F7; }
.light-artemis-text-blue { color: #487CA5; }

.light-artemis-background-purple { background-color: #F6F3F8; }
.light-artemis-text-purple { color: #8A67AB; }

.light-artemis-background-pink { background-color: #F9F2F5; }
.light-artemis-text-pink { color: #B35488; }

.light-artemis-background-red { background-color: #FAECEC; }
.light-artemis-text-red { color: #C4554D; }

Dark Theme Colors
.artemis-text-default { color: #D4D4D4; }
.artemis-background-default { background-color: #191919; }

.artemis-text-gray { color: #9B9B9B; }
.artemis-background-gray { background-color: #252525; }

.artemis-text-brown { color: #A27763; }
.artemis-background-brown { background-color: #2E2724; }

.artemis-text-orange { color: #CB7B37; }
.artemis-background-orange { background-color: #36291F; }

.artemis-text-yellow { color: #C19138; }
.artemis-background-yellow { background-color: #372E20; }

.artemis-text-green { color: #4F9768; }
.artemis-background-green { background-color: #242B26; }

.artemis-text-blue { color: #447ACB; }
.artemis-background-blue { background-color: #1F282D; }

.artemis-text-purple { color: #865DBB; }
.artemis-background-purple { background-color: #2A2430; }

.artemis-text-pink { color: #BA4A78; }
.artemis-background-pink { background-color: #2E2328; }

.artemis-text-red { color: #BE524B; }
.artemis-background-red { background-color: #332523; }

.line-through { text-decoration: line-through } */