.footer {
  background: #013243;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;

  padding-left: 3.5rem;
  padding-right: 3.5rem;

  /* Outer content grid */
  & .outer-grid {
    /* spacer, project description, spacer, link columns, spacer */
    grid-template-columns: 3fr 3fr 4fr;
    align-items: center;
    margin-bottom: 0rem;

    & li {
      list-style: none;
    }
  }

  @media (max-width: 640px) {
    & .outer-grid {
      grid-template-columns: 1fr;
      justify-items: start;
    }
  }

  /* Heading colours */
  & a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }

  & h1 {
    font-size: 1.25rem;
    font-weight: bold;
  }
}

/* Summary Style */
.listing-summary-cell-left p {
  width: 8em;
  font-size: small;
}
h2:has(.listing-summary-title) {
  margin-top: 0;
  color: #600;
}
.listing-summary-cell-right img {
  filter: drop-shadow(4px 4px 5px gray);
}

/* Grid Style */
.listing-grid-thumbnail {
  float: left;
  padding-right: 2em;
}
.listing-grid-thumbnail img {
  filter: drop-shadow(2px 2px 3px gray);
}

.grid-areas-just-narrow {
    padding-top: 0.5cm;
    padding-bottom: 0;
}

.flex-row {
  flex-wrap: wrap;
}