.ipynb_checkpoints
_build
.vscode
node_modules
students/
longreads/punctuation/quotes-colons-brackets.md
longreads/punctuation/style.md
archive.md
/archive
study/probability/lectures.tex
study/probability/lectures/lectures.md
study/probability/lectures/lectures.tex
