.table {
    display: table
}

.grid {
    display: grid
}

.contents {
    display: contents
}

.rounded-md {
    border-radius: .375rem
}

.border {
    border-width: 1px
}

.border-\[\#447ACB\] {
    --tw-border-opacity: 1;
    border-color: rgb(68 122 203/var(--tw-border-opacity, 1))
}

.border-\[\#548164\] {
    --tw-border-opacity: 1;
    border-color: rgb(84 129 100/var(--tw-border-opacity, 1))
}

.border-\[\#C19138\] {
    --tw-border-opacity: 1;
    border-color: rgb(193 145 56/var(--tw-border-opacity, 1))
}

.border-\[\#C29343\] {
    --tw-border-opacity: 1;
    border-color: rgb(194 147 67/var(--tw-border-opacity, 1))
}

.border-\[\#C4554D\] {
    --tw-border-opacity: 1;
    border-color: rgb(196 85 77/var(--tw-border-opacity, 1))
}

.border-\[--artemis-blue\] {
    border-color: var(--artemis-blue)
}

.border-\[--artemis-green\] {
    border-color: var(--artemis-green)
}

.border-\[--artemis-red\] {
    border-color: var(--artemis-red)
}

.border-\[--artemis-yellow\] {
    border-color: var(--artemis-yellow)
}

.bg-\[\#1F282D\] {
    --tw-bg-opacity: 1;
    background-color: rgb(31 40 45/var(--tw-bg-opacity, 1))
}

.bg-\[\#372E20\] {
    --tw-bg-opacity: 1;
    background-color: rgb(55 46 32/var(--tw-bg-opacity, 1))
}

.bg-\[\#E9F3F7\] {
    --tw-bg-opacity: 1;
    background-color: rgb(233 243 247/var(--tw-bg-opacity, 1))
}

.bg-\[\#EEF3ED\] {
    --tw-bg-opacity: 1;
    background-color: rgb(238 243 237/var(--tw-bg-opacity, 1))
}

.bg-\[\#FAECEC\] {
    --tw-bg-opacity: 1;
    background-color: rgb(250 236 236/var(--tw-bg-opacity, 1))
}

.bg-\[\#FAF3DD\] {
    --tw-bg-opacity: 1;
    background-color: rgb(250 243 221/var(--tw-bg-opacity, 1))
}

.bg-\[--artemis-bg-blue\] {
    background-color: var(--artemis-bg-blue)
}

.bg-\[--artemis-bg-green\] {
    background-color: var(--artemis-bg-green)
}

.bg-\[--artemis-bg-red\] {
    background-color: var(--artemis-bg-red)
}

.bg-\[--artemis-bg-yellow\] {
    background-color: var(--artemis-bg-yellow)
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.font-bold {
    font-weight: 700
}

.text-\[\#337EA9\] {
    --tw-text-opacity: 1;
    color: rgb(51 126 169/var(--tw-text-opacity, 1))
}

.text-\[\#448361\] {
    --tw-text-opacity: 1;
    color: rgb(68 131 97/var(--tw-text-opacity, 1))
}

.text-\[\#487CA5\] {
    --tw-text-opacity: 1;
    color: rgb(72 124 165/var(--tw-text-opacity, 1))
}

.text-\[\#548164\] {
    --tw-text-opacity: 1;
    color: rgb(84 129 100/var(--tw-text-opacity, 1))
}

.text-\[\#9065B0\] {
    --tw-text-opacity: 1;
    color: rgb(144 101 176/var(--tw-text-opacity, 1))
}

.text-\[\#C29343\] {
    --tw-text-opacity: 1;
    color: rgb(194 147 67/var(--tw-text-opacity, 1))
}

.text-\[\#C4554D\] {
    --tw-text-opacity: 1;
    color: rgb(196 85 77/var(--tw-text-opacity, 1))
}

.text-\[\#CB912F\] {
    --tw-text-opacity: 1;
    color: rgb(203 145 47/var(--tw-text-opacity, 1))
}

.text-\[\#D44C47\] {
    --tw-text-opacity: 1;
    color: rgb(212 76 71/var(--tw-text-opacity, 1))
}

.text-\[\#D9730D\] {
    --tw-text-opacity: 1;
    color: rgb(217 115 13/var(--tw-text-opacity, 1))
}

.text-\[--artemis-blue\] {
    color: var(--artemis-blue)
}

.text-\[--artemis-green\] {
    color: var(--artemis-green)
}

.text-\[--artemis-orange\] {
    color: var(--artemis-orange)
}

.text-\[--artemis-purple\] {
    color: var(--artemis-purple)
}

.text-\[--artemis-red\] {
    color: var(--artemis-red)
}

.text-\[--artemis-yellow\] {
    color: var(--artemis-yellow)
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity, 1))
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity, 1))
}

.line-through {
    text-decoration-line: line-through
}

.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.footer {
    background: #040b2c;
    color: #fff;
    padding-left: 3.5rem;
    padding-right: 3.5rem;

    & .outer-grid {
        grid-template-columns: 3fr 3fr 4fr;
        align-items: center;
        margin-bottom: 0;

        & li {
            list-style: none
        }
    }

    @media (max-width:640px) {
        & .outer-grid {
            grid-template-columns: 1fr;
            justify-items: start
        }
    }

    & a, h1, h2, h3, h4, h5, h6 {
        color: #fff
    }

    & h1 {
        font-size: 1.25rem;
        font-weight: 700
    }
}

.listing-summary-cell-left p {
    width: 8em;
    font-size: small
}

h2:has(.listing-summary-title) {
    margin-top: 0;
    color: #600
}

.listing-summary-cell-right img {
    filter: drop-shadow(4px 4px 5px gray)
}

.listing-grid-thumbnail {
    float: left;
    padding-right: 2em
}

.listing-grid-thumbnail img {
    filter: drop-shadow(2px 2px 3px gray)
}

.grid-areas-just-narrow {
    padding-top: .5cm;
    padding-bottom: 0
}

.flex-row {
    flex-wrap: wrap
}

:root {
    --artemis-bg-default: #fff;
    --artemis-default: #373530;
    --artemis-bg-gray: #f1f1ef;
    --artemis-gray: #787774;
    --artemis-bg-brown: #f3eeee;
    --artemis-brown: #976d57;
    --artemis-bg-orange: #f8ecdf;
    --artemis-orange: #cc782f;
    --artemis-bg-yellow: #faf3dd;
    --artemis-yellow: #c29343;
    --artemis-bg-green: #eef3ed;
    --artemis-green: #548164;
    --artemis-bg-blue: #e9f3f7;
    --artemis-blue: #487ca5;
    --artemis-bg-purple: #f6f3f8;
    --artemis-purple: #8a67ab;
    --artemis-bg-pink: #f9f2f5;
    --artemis-pink: #b35488;
    --artemis-bg-red: #faecec;
    --artemis-red: #c4554d;
    --darktemis-default: #d4d4d4;
    --darktemis-bg-default: #191919;
    --darktemis-gray: #9b9b9b;
    --darktemis-bg-gray: #252525;
    --darktemis-brown: #a27763;
    --darktemis-bg-brown: #2e2724;
    --darktemis-orange: #cb7b37;
    --darktemis-bg-orange: #36291f;
    --darktemis-yellow: #c19138;
    --darktemis-bg-yellow: #372e20;
    --darktemis-green: #4f9768;
    --darktemis-bg-green: #242b26;
    --darktemis-blue: #447acb;
    --darktemis-bg-blue: #1f282d;
    --darktemis-purple: #865dbb;
    --darktemis-bg-purple: #2a2430;
    --darktemis-pink: #ba4a78;
    --darktemis-bg-pink: #2e2328;
    --darktemis-red: #be524b;
    --darktemis-bg-red: #332523
}

.dark\:border-\[--darktemis-blue\]:where(.dark, .dark *) {
    border-color: var(--darktemis-blue)
}

.dark\:border-\[--darktemis-green\]:where(.dark, .dark *) {
    border-color: var(--darktemis-green)
}

.dark\:border-\[--darktemis-red\]:where(.dark, .dark *) {
    border-color: var(--darktemis-red)
}

.dark\:border-\[--darktemis-yellow\]:where(.dark, .dark *) {
    border-color: var(--darktemis-yellow)
}

.dark\:bg-\[\#1F282D\]:where(.dark, .dark *) {
    --tw-bg-opacity: 1;
    background-color: rgb(31 40 45/var(--tw-bg-opacity, 1))
}

.dark\:bg-\[--darktemis-bg-blue\]:where(.dark, .dark *) {
    background-color: var(--darktemis-bg-blue)
}

.dark\:bg-\[--darktemis-bg-green\]:where(.dark, .dark *) {
    background-color: var(--darktemis-bg-green)
}

.dark\:bg-\[--darktemis-bg-red\]:where(.dark, .dark *) {
    background-color: var(--darktemis-bg-red)
}

.dark\:bg-\[--darktemis-bg-yellow\]:where(.dark, .dark *) {
    background-color: var(--darktemis-bg-yellow)
}

.dark\:bg-\[--darktemis-yellow\]:where(.dark, .dark *) {
    background-color: var(--darktemis-yellow)
}

.dark\:text-\[\#447ACB\]:where(.dark, .dark *) {
    --tw-text-opacity: 1;
    color: rgb(68 122 203/var(--tw-text-opacity, 1))
}

.dark\:text-\[--darktemis-blue\]:where(.dark, .dark *) {
    color: var(--darktemis-blue)
}

.dark\:text-\[--darktemis-green\]:where(.dark, .dark *) {
    color: var(--darktemis-green)
}

.dark\:text-\[--darktemis-orange\]:where(.dark, .dark *) {
    color: var(--darktemis-orange)
}

.dark\:text-\[--darktemis-purple\]:where(.dark, .dark *) {
    color: var(--darktemis-purple)
}

.dark\:text-\[--darktemis-red\]:where(.dark, .dark *) {
    color: var(--darktemis-red)
}

.dark\:text-\[--darktemis-yellow\]:where(.dark, .dark *) {
    color: var(--darktemis-yellow)
}

.dark\:text-black:where(.dark, .dark *) {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity, 1))
}

.dark\:text-white:where(.dark, .dark *) {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity, 1))
}